header#header.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    h2#site-name.navbar-brand
      a(href="/").text-primary Servapa Services
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href="/admin") Dashboard Home
        li.nav-item
          a.nav-link(href="/services") Services
        li.nav-item
          a.nav-link(href="/inquiries") Inquiries
        li.nav-item
          a.nav-link(href="/admin/logout") Admin Logout
